body {
    background-color: #F5FAFA;
    text-align: center;
}

header {
    font-family: 'Comfortaa', cursive;
    margin: 130px 130px 0px 130px;
    padding: 10px;
}

header h1 {
    font-size: 50px;
}
.description {
    font-size: 20px;
}

.question-container {
    margin-left: 150px;
    padding: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.start-btn, .btn {
    background-color: #C1DAD6;
    padding: 5px 10px;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
}

.submit-btn {
    margin-left: 40px;
    padding: 5px 10px;
    background-color: #C1DAD6;
    border-radius: 10px;
    font-size: 20px;
}

.submit-btn:hover {
    background-color: #6D929B;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    justify-content: flex-start;
    padding: 5px 20px;
}

.start-btn:hover, .btn:hover {
    background-color: #6D929B;
}

.start-btn::after, .btn::after {
    background-color: #C1DAD6;
}

input {
    margin: 0px;
    padding: 10px;
}

.score-title {
    font-size: 20px;
    margin-right: 10px;
}


@media screen and (max-width: 414px) {
    body {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    header {
        padding: 10px;
        margin: 0px;
    }
    .description{
        text-align: left;
        margin-left: 30px;
    }

    header h1 {
        font-size: 40px;
    }

    .question-container {
        margin-left: -10px;
        font-size: 20px;
        padding: 0px;
        width: 100%;
    }

    .btn {
        margin-left: -10px;
        padding: 5px;
        font-size: 15pxpx;
        
    }

    
}




